.movie-text-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-text-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
}

.movie-img {
    width: 300px;
    object-fit: contain;
}

.movie-card {
    width: 300px; 
    margin-bottom: 20px;
}