<div fxLayout="row" fxLayoutAlign="center start">
    
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex style="margin-top:100px"> 
        <h1 class="title" style="font-size: 80px">
        Movie Favourites</h1>
        <h4 class="sub-text" style="margin-top:20px;" >Sign up to get started, or login if you already have an account.</h4>
        <div fxLayoutGap="20px">
            <button mat-raised-button (click)="onClickLogin()">LOGIN</button>
            <button mat-raised-button (click)="onClickRegister()">SIGN UP</button></div>
    </div>
</div>
